
apiVersion: v1
kind: Namespace
metadata:
  name: my-cellphone
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: my-cellphone
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    alerting:
      alertmanagers:
        - static_configs:
            - targets:
              - 'alertmanager.my-cellphone.svc.cluster.local:9093'

    rule_files:
      - '/etc/prometheus/alert.rules.yml'

    scrape_configs:
      - job_name: 'otel-collector'
        static_configs:
          - targets: ['otel-collector.opentelemetry.svc.cluster.local:9464']
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']
      - job_name: 'my-cellphone-app'
        metrics_path: /metrics
        scheme: http
        static_configs:
          - targets:
            - 'my-cellphone-svc.my-cellphone.svc.cluster.local:5000'
      - job_name: 'cadvisor'
        static_configs:
          - targets: ['cadvisor-service.my-cellphone.svc.cluster.local:8080']
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-alert-rules
  namespace: my-cellphone
data:
  alert.rules.yml: |
    groups:
    - name: basic-alerts
      rules:
      - alert: InstanceDown
        expr: up == 0
        for: 1m
        labels:
          severity: critical
        annotations:
          summary: 'Instance {{ $labels.instance }} down'
          description: 'Instance {{ $labels.instance }} has been down for more than 1 minute.'
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus-deployment
  namespace: my-cellphone
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
      - name: prometheus
        image: prom/prometheus:latest
        args:
        - "--config.file=/etc/prometheus/prometheus.yml"
        ports:
        - containerPort: 9090
        volumeMounts:
        - name: prometheus-config-volume
          mountPath: /etc/prometheus/prometheus.yml
          subPath: prometheus.yml
        - name: prometheus-rules-volume
          mountPath: /etc/prometheus/alert.rules.yml
          subPath: alert.rules.yml
      volumes:
      - name: prometheus-config-volume
        configMap:
          name: prometheus-config
      - name: prometheus-rules-volume
        configMap:
          name: prometheus-alert-rules
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus-service
  namespace: my-cellphone
spec:
  type: NodePort
  selector:
    app: prometheus
  ports:
  - port: 9090
    targetPort: 9090
    nodePort: 30090
    protocol: TCP
